# This is Git's per-user configuration file.
[core]
# Please adapt and uncomment the following lines:
	user = Jonathan Dart
	email = jonathandart@gmail.com
	excludesfile = /Users/jonathan.dart/.gitignore_global
[user]
	name = Jonathan Dart
	email = jonathandart@gmail.com
[push]
	default = simple

[alias]
	branch-name = "!git rev-parse --abbrev-ref HEAD"
	pusho = "!git push -u origin $(git branch-name)"
